<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome to game center</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-reboot.min.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap-grid.min.css" />
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="<%= clientStylesName %>" />
</head>
    <body>
        <div id="root"></div>
        <script type="text/javascript" src="/bootstrap.native/dist/polyfill.min.js"></script>
        <script type="text/javascript" src="/bootstrap.native/dist/bootstrap-native-v4.min.js"></script>
        <script type="text/javascript" src="/bootstrap.native/dist/bootstrap-native-v4.min.js"></script>
        <script type="text/javascript" src="<%= clientTranslationName %>"></script>
        <script type="text/javascript" src="<%= clientScriptName %>"></script>
    </body>
</html>